.Persik {
  display: block;
  width: min-content;
  max-width: 240px;
  margin: 20px;
  float: left;
}

.course-header .Group__inner {
  position: relative;
  height: 200px;
  margin: 10px;

}

.course-header-2 .Group__inner {
  position: relative;
  height: 120px;
  margin: 10px;
}

.course-text {
  margin-left: 100px;
  margin-right: 20%;
}

.course-badge {
  position: absolute;
  top: 40px;
  right: 30px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
  max-width: 20%;
}

.course-score {
  margin-left: -20px;
}

.advancementCard{
  height: 200px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
}
.advancementTitle{
  font-size: 1.2em;
}
.advancementDate{
  font-size: .7em;
  text-decoration: underline;
}
.advancementDescr{
  font-size: .9em;
}

.customizeIco{
  color: #008CFF;
  font-size: 0.5em;
  margin-left: 0;
  margin-right: -15px;
  margin-top: -18px;
}

.customizeAvatar{
  position: absolute;
  top:   12px;
  right: 12px;
}

.centringCard{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
}

._margin{
  margin: 10px;
}
.course-card{
  min-height: 160px;
}
