.profileName{
	font-family: Verdana;
	font-size: 2em;
}
.profileStatus{
	font-family: Verdana;
	font-size: 1.25em;
	color: #444;
}
.profileCell{
	width: 100%;
}

.courceImg{
	width: 150px;
	height: 150px;
	border: 1px solid #6D7885;
	border-radius: 10px ;
	background-color: white;
}
.courseCard{
	height: 300px;
	max-width: 190px;
	display: flex;
	flex-flow: column;
	align-items: center;
	align-content: center;
	text-align: center;
	justify-content: center;
}
.courseName{
	height: 30px;
	font-family: Verdana;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.progressWrapper{
	background: #FBC11B;
	width: 150px;
	height: 10px;
	display: flex;
	flex-flow: row;
	align-content: space-around;
	margin-left: 19px;
	margin-right: 21px;
	border-radius: 5px;
	margin-top: 14px;
}
.courseProgress{
	width: 77%;
	height: 100%;
	/*background-color: #8FA;*/
}
.courseProgressBack{
	width: 80%;
	display: flex;
	flex-flow: row;
	align-content: flex-start;
	/*background-color: #aaa;*/
	height: 2em;
}

.roadmap{
	width: 100%;
}
#img1{
	padding: 25px;
	box-sizing: border-box;
}
#img2{
	padding: 35px 25px 40px 25px;
	box-sizing: border-box;
}
#progress1{
	background: linear-gradient(90deg, #6DE504 -0.11%, #FBC11B 34.69%), #C4C4C4;
}
#progress2{
	background: linear-gradient(90deg, #6DE504 25.83%, #FBC11B 77.45%), #C4C4C4;
}
#progress3{
	background: linear-gradient(90deg, #6DE504 67.02%, #FBC11B 100%), #C4C4C4;
}
.weeks{
	font-size: 9px;
	margin-top: 5px;
}
.scores{
	font-size: 9px;
	margin-top: 10px;
}
.checkFrog {
	display: flex;
	flex-direction: column;
	height: 22px;
	width: 12px;
	z-index: 1000;
	position: relative;
	right: 5px;
	bottom: 13px;
}
#checkFrog1{
	left: 21px;
}
#checkFrog2{
	left: 91px;
}
#checkFrog3{
	left: 133px;
}
#test{
	background-color: red;
}